.button {
  all: unset;
  cursor: pointer;
  width: 290px;
  height: 52px;
  background: #60d394;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button > span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:disabled {
  background: #d9d9d9;
}
