.button {
  all: unset;
  cursor: pointer;
  width: 200px;
  height: 44px;
  background: #60d394;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.button:disabled {
  background: #d9d9d9;
}
